*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
#wrap{
    width:1920px;
    height:1650px;
    position:relative;
}

#wrap{
  position:relative;
  width:1920px;
  height:3300px;
  background-color: rgba(201, 140, 60, 0.1);
  height:3400px;

}
#header{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
/*간편가입*/
#join ,#nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 1920px;
}
#join{     
  position: relative;
  justify-content: center;
  padding: 10px;
  height: 75px;
  left: 0px;
  top: 0px;
  background: #8B735B; 
  font-size: 48px;
  line-height: 60px;
  color: #ebdc8ce7;
}
#nav{
  justify-content: space-between;
  padding: 10px 0px;
  height: 75px;
  left: 0px;
  top: 0px;
  position:sticky;
  margin-top:5px;
  z-index:100;
}
#menu1,#menu2,#menu3,#menu4{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(223,201,188);
  border-radius:10px;
}
#menu1{
  width: 100px;
  height: 60px;
}
#menu2,#menu3{font-family: 'Giants-Bold';}
#menu2{
  flex-direction: row;
  padding:10px 0px;
  gap: 10px;
  margin: 10px auto;
  width: 1120px;
  height: 60px;
  font-size: 40px;
  line-height: 97px;

  color: black;
}

/* 로그인 | 회원가입 */
#menu3{
  flex-direction: row;
  padding: 0px;
  gap: 10px;
  margin: 0 auto;
  width: 370px;
  height: 60px;
  font-size: 36px;
  line-height: 44px;
  color: black;
}

/* 장바구니/최근본항목 */
#menu4{
  flex-direction: row;
  padding: 9px 0px;
  gap: 10px;
  width: 290px;
  height: 60px;
  font-size: 20px;
  line-height: 44px;
  color: black;
}

/* 메뉴판 */
#menu{
  position:absolute;
  top:69px;
  left:0;
  display:none;
}
/* #menu{
  display: none;
} */
#menu1:hover #menu{
  display:block;
}

.menu_list{
  margin-left:2px;
  border: 1px solid black; 
  width:200px;;
  height:60px;
  /* background-color: #f0b0d3da; */
  background-color: rgb(223,201,188);
  color: black;
  font-size: 24px;
  line-height: 60px;
  padding: 0px 20px;
  font-weight: bold;
}
.menu_list2{
  display:block;
  margin-left:2px;
  width:200px;
  height:240px;
  /* list-style-type :disc; */
}
.menu_detail{
  /* list-style-type :disc; */
  width:200px;;
  height:60px;
  font-size: 18px;
  line-height: 60px;
  padding: 0px 40px;
  color: black;
  background-color: rgb(223,201,188);;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;  
}
.menu_detail:nth-child(1){
  border-top: 0.5px solid black;
}
.menu_detail:nth-child(4){
  border-bottom: 0.5px solid black;
} 
a {
    color:inherit;
    text-decoration: none;
  }
  
  i{
    font-size: 40px;
    color: black;
  }


/* 본 내용 */
 #content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 350px 150px 0px 150px;
    gap: 100px;
    width: 1920px;
    height: 100%;
    position:relative;
    top:200px;
     
} 

#subtitle{
    width:100%;
    height:100px;
    font-size:50px;
    text-align:center;

}

#container{
    width:100%;
    height:800px;
    border-top:1px solid #000000;
    padding:30px 75px 0px 75px;
    display:flex;
    flex-direction: column;
}

.event{
    display:inline-block;
    background:#FFCF7E;
    color:#ffffff;
    width:90px;
    height:50px;
    line-height:50px;
    text-align:center;
    margin-right:20px;
    border-radius:25px;
    font-size:20px;
}
ul{
    list-style-type:none;
    padding: 15px;
}
#subject{font-size:30px;}

#company_name{
 margin:0px 20px 0px 110px;
}

#gray{
    color:#909090;
    font-size:20px;
}

#detail{
    width:100%;
    height:100%;
    padding: 30px 15px 15px 15px;
    border-top:1px dashed #909090;
    font-size:20px;
}