*{
    margin:0; padding:0; box-sizing:border-box;
} 
#wrap{
    position:relative;
    width:1920px;
    height:3100px;
}
#header{
    position:absolute;
    width: 100%;
    height: 100%;;
    left: 0px;
    top: 0px;
}
/*간편가입*/
#join ,#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
    width: 1920px;
}
#join{     
    position: relative;
    justify-content: center;
    padding: 10px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #8B735B;  
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}
#nav{
    justify-content: space-between;
    padding: 10px 0px;
    height: 75px;
    left: 0px;
    top: 0px;
    position:sticky;
    margin-top:5px;
    z-index:1;
}
#menu1,#menu2,#menu3,#menu4{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(223,201,188);
    border-radius:10px;
  }
#menu1{
    width: 100px;
    height: 60px;
}
#menu2{
    flex-direction: row;
    padding:10px 0px;
    gap: 10px;
    margin: 10px auto;
    width: 1120px;
    height: 60px;
    font-size: 50px;
    line-height: 97px;
    color: #FFFFFF;
    font-family:'Courier New', Courier, monospace;
  }

/* 로그인 | 회원가입 */
#menu3{
    flex-direction: row;
    padding: 0px;
    gap: 10px;
    margin: 0 auto;
    width: 370px;
    height: 60px;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
  }
  
  /* 장바구니/최근본항목 */
#menu4{
    flex-direction: row;
    padding: 9px 0px;
    gap: 10px;
    width: 290px;
    height: 60px;
    font-size: 20px;
    line-height: 44px;
    color: #FFFFFF;
}
/* 메뉴판 */
#menu{
    position:absolute;
    top:69px;
    left:0;
    display:none;
  }
  /* #menu{
    display: none;
  } */
  #menu1:hover #menu{
    display:block;
  }
  
  .menu_list{
    margin-left:2px;
    border: 1px solid black; 
    width:200px;;
    height:60px;
    background-color: #909090;
    color:white;
    font-size: 24px;
    line-height: 60px;
    padding: 0px 20px;
    font-weight: bold;
  }
  .menu_list2{
    display:block;
    margin-left:2px;
    width:200px;
    height:240px;
    /* list-style-type :disc; */
  }
  .menu_detail{
    /* list-style-type :disc; */
    width:200px;;
    height:60px;
    font-size: 18px;
    line-height: 60px;
    padding: 0px 40px;
    background-color: #909090;
    color:white;
    border-right: 0.5px solid black;
    border-left: 0.5px solid black;  
  }
  .menu_detail:nth-child(1){
    border-top: 0.5px solid black;
  }
  .menu_detail:nth-child(4){
    border-bottom: 0.5px solid black;
  } 


/* 공지사항 */
#sub{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 50px 20px;
gap: 10px;

width: 100%;
height: 195px;
position:absolute;
top:160px;
background: #C8FCEA;

}

#subtitle{
width: 1620px;
height: 95px;
}
#subtitle b{
    font-size:80px;
}
#subtitle p{
    font-size:30px;
    display: inline;
}


#content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    padding: 400px 100px 0px 100px;
    gap: 50px;
    width: 1920px;
    height: 1700px;
    position:absolute;
    top: 350px;
}

#link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px 15px;
    gap: 100px;
    width: 100%;
    height: 400px;
}

#sitelink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    height: 90px;
}

#FQA_site{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
    height: 90px;
    background: #FFFFFF;
    border-right: 1px solid #000000;
    font-size:60px;
}
#notice_site{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
    height: 90px;
    background: #555555;
    font-size:60px;
    color:#ffffff;
}
a{text-decoration:none;
  color:#000000;
}

#select{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    width: 1620px;
    height: 50px;
    
}


/*select 타입(전체,일반,이벤트*/
.type{
    border:none;
    background: #FFCF7E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    font-size:25px;
    width: 540px;
    height: 40px;
}
#select button:nth-child(2){
    border-left:1px solid #000000;
    border-right:1px solid #000000;
}


/*table*/
table{
    width:100%;
    border-top:1px solid #909090;
}
table th:nth-child(2){
    width:1120px;
}
table th:nth-child(1), table th:nth-child(3), table th:nth-child(4){
    width:200px;
}
table th{
    height:80px;
    font-size:20px;
    font-style: normal;
}
table td:nth-child(1),table td:nth-child(3),table td:nth-child(4){
    text-align:center;
    
}
table td:nth-child(2){
    padding-left:20px;
}
table td{
    height:50px;
    font-size:20px;
    padding-top:50px;
}

.event{
    display:inline-block;
    background:#FFCF7E;
    color:#ffffff;
    width:90px;
    height:50px;
    line-height:50px;
    text-align:center;
    margin-right:20px;
    border-radius:25px;
}
.normal{
    display:inline-block;
    background:#909090;
    color:#ffffff;
    width:90px;
    height:50px;
    line-height:50px;
    text-align:center;
    margin-right:20px;
    border-radius:25px;
}
.normal_table_row{
    display:table-row;
}
.event_table_row{
    display:table-row;
}

a {
    color:inherit;
    text-decoration: none;
  }
  
  i{
    font-size: 40px;
  }