@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
*{
    padding:0; 
    margin:0;
    box-sizing:border-box;
}

#wrap{
    position:relative;
    width:1920px;
    height:2500px;
}
#header{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
/*간편가입*/
#join ,#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 1920px;
}
#join{     
    position: relative;
    justify-content: center;
    padding: 10px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #8B735B; 
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}
#nav{
    justify-content: space-between;
    padding: 10px 0px;
    height: 75px;
    left: 0px;
    top: 0px;
    position:sticky;
    margin-top:5px;
    z-index:100;
}
#menu1,#menu2,#menu3,#menu4{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(223,201,188);
    border-radius:10px;
  }
#menu1{
    width: 100px;
    height: 60px;
  
}


/* 다운 메뉴 */
/* 메뉴판 */
#menu{
    position:absolute;
    top:69px;
    left:0;
    display:none;
  }
  /* #menu{
    display: none;
  } */
  #menu1:hover #menu{
    display:block;
  }
  
  .menu_list{
    margin-left:2px;
    border: 1px solid black; 
    width:200px;;
    height:60px;
    background-color: #909090;
    color:white;
    font-size: 24px;
    line-height: 60px;
    padding: 0px 20px;
    font-weight: bold;
  }
  .menu_list2{
    display:block;
    margin-left:2px;
    width:200px;
    height:240px;
    /* list-style-type :disc; */
  }
  .menu_detail{
    /* list-style-type :disc; */
    width:200px;;
    height:60px;
    font-size: 18px;
    line-height: 60px;
    padding: 0px 40px;
    background-color: #909090;
    color:white;
    border-right: 0.5px solid black;
    border-left: 0.5px solid black;  
  }
  .menu_detail:nth-child(1){
    border-top: 0.5px solid black;
  }
  .menu_detail:nth-child(4){
    border-bottom: 0.5px solid black;
  } 
  



  #menu2{
    flex-direction: row;
    padding:10px 0px;
    gap: 10px;
    margin: 10px auto;
    width: 1120px;
    height: 60px;
    font-size: 50px;
    line-height: 97px;
    color: #FFFFFF;
    font-family:'Courier New', Courier, monospace;
  }
  
  /* 로그인 | 회원가입 */
  #menu3{
    flex-direction: row;
    padding: 0px;
    gap: 10px;
    margin: 0 auto;
    width: 370px;
    height: 60px;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
  }
  
  /* 장바구니/최근본항목 */
  #menu4{
    flex-direction: row;
    padding: 9px 0px;
    gap: 10px;
    width: 290px;
    height: 60px;
    font-size: 20px;
    line-height: 44px;
    color: #FFFFFF;
  }




/* 내용 */
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 300px;
    gap: 10px;

    position: absolute;
    width: 1920px;
    height: 2350px;
    left: 0px;
    top: 200px;
}
/* All */
#subject{
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
}



/* 정렬 방식 */
#sort{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 100px 0px;;
    gap: 10px;
    width: 1320px;
    height: 211px;
}
.subsort1{
    width:75%;
    height: 211px;
    display:flex;
    flex-direction: start;
    align-items:center;
}
.subsort1 button{
    padding: 10px 90px;
}
.subsort2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    width: 50%;
    height: 211px;

    
}
/* 정렬 */
.subsort3{
    width: 130px;
    height: 92px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 92px;
    text-align: center;
    color: #745050;
    border: #000000 1px solid;
}



/*상품목록*/
#items{
    display: flex;
    flex-wrap:wrap;
    justify-content:left;
    align-items: top;
    
    padding: 10px 0px;
    gap: 0px;

    width: 1320px;
    /* height: 1660px; */
    background:#FFFFFF;
}
/*상품 1~3행 */
.card{
    width:33.3%;
    /* height:48%; */
    border-bottom: #cfcdcd 1px solid;
}
.card:nth-child(1), .card:nth-child(2), .card:nth-child(3){
    border-top: #cfcdcd 1px solid;
}
.cardImg{
    width:100%;
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardImg img:hover{
    filter: brightness(0.8);
}
/*상품 이름 및 가격*/
.prodTitle{
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    color: #2e2e2e;
    padding: 15px 0px;
}
.price{
    width: 100%;
    height: 40px;
    /* font-weight: 400; */
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: red;
}
.card-body input{
    position:relative;
    bottom:30px;
    left:20px; 
    width:20px;
    height:20px;
    
}
label{
    display:none;
}

/*바닥글*/
#foot{
    position:absolute;
    bottom: 0px;
    width:1610px;
    height:400px;

}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 60px;
    width: 100%;
    height: 100%;
    background: #677381;
    }
    .footer1{
        width:600px;
        height:300px;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .footer1_content{
      font-size:20px;
      color:#fff;
      font-family: 'EASTARJET-Medium';
      /* Arial, Helvetica, sans-serif */
     
    }
    #footer1_img{
      width:400px;
      height:50px;
      background:#fff;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-around;
      color:#9F9F9F;
      font-size:17px;
      margin-top:20px;
    }
    .img_text{
      display:flex;
      align-items:center;
    }
    .img_text img{
      width:25px;
      height:25px;
      margin-right:10px;
      filter: opacity(0.5) drop-shadow(0 0 0 rgb(189,189,189)); 
      
    }

    

a {
    color:inherit;
    text-decoration: none;
  }
  
  i{
    font-size: 40px;
  }
